$font-family: "'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,'WenQuanYi Micro Hei',Verdana,sans-serif,'\5B8B\4F53'";
$border-color: #e5e5e5;

/*1 重定义浏览器默认样式
  name:        hui-reset
  explain:     重定义浏览器默认样式
*/

* {
  word-wrap: break-word;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  list-style-type: none;
}

html,
body {
  *position: static;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 400;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button {
  overflow: visible;
  vertical-align: middle;
  outline: none;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='text'],
input[type='password'] {
  appearance: none;
  outline: none;
}

body,
th,
td,
button,
input,
select,
textarea {
  font-family: $font-family;
  font-size: 12px;
  color: #333;
}

@media (max-width: 767px) {
  html {
    overflow-y: auto;
  }

  body,
  th,
  td,
  button,
  input,
  select,
  textarea {
    font-size: 14px;
  }
}

body {
  line-height: 1.6;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

a,
area {
  outline: none;
  //blr: expression(this.onFocus=this.blur())
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    outline: none;
  }

  &.ie6:hover {
    zoom: 1;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    outline: none;
  }
}

:focus {
  outline: none;
}

sub,
sup {
  vertical-align: baseline;
}

button,
input[type='button'],
input[type='submit'] {
  line-height: normal !important;
}

/*img*/
img {
  border: 0;
  vertical-align: middle;
}

a img,
img {
  -ms-interpolation-mode: bicubic;
}

/*IE下a:hover 背景闪烁*/

/**html {
  overflow: -moz-scrollbars-vertical;
  zoom:expression(function(ele) {
      ele.style.zoom="1";
      document.execCommand("BackgroundImageCache", false, true)
  }(this))
}*/

/*HTML5 reset*/

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {
  display: block;
  margin: 0;
  padding: 0;
}

time {
  display: inline;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

legend {
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid $border-color;
}

legend small {
  font-size: 15px;
  color: #999;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border-width: 0;
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid $border-color;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  appearance: textfield;
  /* 1 */
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}

/*清除浮动
Name:       style_clearfix
Example:    class="clearfix"
Explain:    clearfix 避免因子元素浮动而导致的父元素高度缺失能问题
*/
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

@mixin transition($v) {
  transition: $v;
}

@mixin transform($v) {
  transform: $v;
}

/*2.1 布局
  name:      hui-layout
*/
.hui-container-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 9;
  zoom: 1;
  top: 0px;

  .hui-container-bg {
    display: none;
  }
}

.hui-side-box {
  display: none;
}

.hui-layout-content,
.hui-layout-content-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .hui-layout-content {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .hui-layout-content {
    width: 1170px;
  }
}

@media (min-width: 1300px) {
  .hui-layout-content {
    width: 100%;
  }
}

@media print {
  .hui-layout-content {
    width: auto;
  }
}

@media (max-width: 767px) {
  html,
  body {
    overflow: hidden;
    height: 100%;
  }

  body,
  .hui-article-content {
    font-size: 16px;
    line-height: 1.6;
  }

  .hui-ad-img img {
    width: 100%;
    height: auto;
  }

  .hui-container-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: auto;

    .hui-container-bg {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display: block;
      z-index: 2000;
    }

    .hui-container-wap {
      height: 100%;
      width: 100%;
      min-width: 320px;
      overflow: auto;
    }
  }

  /*隐藏的菜单*/
  .hui-side-box {
    position: absolute;
    display: block;
    z-index: 0;
    right: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: all 0.2s ease 0s;
    background-color: #303135;

    .hui-nav {
      display: block;

      li {
        border-bottom: 1px solid #222;
        display: block;

        a {
          color: #fff;
          display: block;
          padding-left: 20px;
          padding: 10px 30px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  body.hui-side-box-open {
    .hui-side-box {
      right: 0;
      z-index: 100;
    }

    .hui-container-wrapper {
      .hui-container-bg {
        bottom: 0;
        right: 0;
      }
    }
  }
}

/*2.3 响应式隐藏显示
Name:        hui-visible
Explain:     左右两栏|左中右三栏|上中下
*/

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }

  .hidden-xs {
    display: none !important;
  }

  .visible-xs-block {
    display: block !important;
  }

  .visible-xs-inline {
    display: inline !important;
  }

  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  .hidden-sm {
    display: none !important;
  }

  .visible-sm-block {
    display: block !important;
  }

  .visible-sm-inline {
    display: inline !important;
  }

  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }

  .hidden-md {
    display: none !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }

  .hidden-lg {
    display: none !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }

  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table;
  }

  tr.visible-print {
    display: table-row !important;
  }

  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }

  .visible-print-block {
    display: block !important;
  }

  .visible-print-inline {
    display: inline !important;
  }

  .visible-print-inline-block {
    display: inline-block !important;
  }

  .hidden-print {
    display: none !important;
  }
}

@mixin transition($v) {
  transition: $v;
}

@mixin boxShadow($v) {
  -webkit-box-shadow: $v;
  box-shadow: $v;
}

@mixin borderRadius($v) {
  -ms-border-radius: &v;
  border-radius: $v;
}

/*4.2.1 导航条
  name:      hui-nav
*/

/*logo*/
.hui-logo {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;

  &:hover {
    text-decoration: none;
  }
}

/*导航条*/
.hui-nav-wrapper {
  height: 60px;

  .hui-nav-bar {
    position: relative;
    z-index: 1030;
    background-color: #fff;

    .hui-layout-content {
      position: relative;

      .hui-nav-userbar {
        right: 0px;
      }
    }

    &.hui-nav-black {
      background-color: #2b2929;
      height: 60px;
    }

    &.hui-nav-fixed-top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030;
      box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    }

    .hui-logo {
      height: 44px;
      line-height: 60px;
      margin-right: 10px;
      float: left;
      font-size: 16px;
    }

    .hui-slogan {
      font-size: 12px;
      cursor: default;
    }
  }
}

/*导航*/
.hui-nav {
  z-index: 1;

  > ul {
    font-size: 0;
    line-height: 0;

    > li,
    > li > a {
      line-height: 60px;
      font-size: 14px;
    }

    > li {
      position: relative;
      float: left;
      text-align: center;

      > a {
        display: inline-block;
        text-align: center;
        padding: 0 10px;
      }

      > a:hover,
      &.current > a {
        background-color: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        @include transition(background-color 0.3s ease 0s);
      }
    }
  }
}

@media (max-width: 767px) {
  .hui-logo {
    margin-right: 0;
  }

  .hui-nav-wrapper {
    height: 60px !important;

    .hui-nav-bar {
      .hui-logo {
        height: 44px !important;
        line-height: 44px !important;
      }

      .hui-nav {
        display: none !important;
        float: none !important;

        > ul > li {
          width: 100%;
          text-align: left;
          border-bottom: solid 1px #eee;

          > a {
            display: block;
            padding: 0 15px;
            text-align: left;
          }

          &.hui-dropdown.open > .hui-dropdown-menu {
            display: none;
          }

          &.hui-dropdown > .hui-dropdown-link > .hui-iconfont {
            display: none;
          }
        }

        > ul > li,
        > ul > li > a {
          height: 60px !important;
          line-height: 60px !important;
        }

        &.hui-nav-collapse {
          ul,
          ul > li {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }

  .js-nav-active .hui-nav-collapse {
    position: absolute;
    display: block;
    float: none;
    clear: both;
    max-height: 0;
    clip: rect(0 0 0 0);
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    @include transition(max-height 284ms ease 0s);

    &.closed {
      max-height: none;
    }
  }

  .hui-nav-collapse.opened {
    max-height: 9999px;
  }
}

/*导航条风格-黑色*/
.hui-nav-black {
  background-color: #222;
  border-bottom: #080808 1px solid;
  @include boxShadow(0 0 4px #333333);

  .hui-logo {
    color: #fff;
    color: #eee;
  }

  .navbar-userbar {
    color: #fff;
  }

  .hui-nav {
    > ul > li,
    > ul > li > a {
      color: #fff;
    }

    > ul > li > a:hover,
    > ul > li.current > a {
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .hui-nav-black {
    .hui-nav > ul > li {
      border-bottom: solid 1px #222;

      > a:hover,
      &.current > a {
        background: #777;
      }
    }
  }
}

/*面包导航*/
.hui-nav-toggle,
a.hui-nav-toggle {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 20px;
  color: #999;
  padding: 6px 11px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

/*4.3 菜单
  name:      hui-menu
  example:
*/
.hui-menu {
  background-color: #fff;
  border: solid 1px #f2f2f2;
  display: inline-block;

  &.radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.box-shadow {
    border-top: none;
  }

  > .hui-menu-item {
    position: relative;
    clear: both;

    > a {
      display: block;
      border-bottom: solid 1px #f2f2f2;
      padding: 5px 20px;
      line-height: 1.8;
      text-align: left;
      font-weight: normal;
      white-space: nowrap;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #fafafa;
      }

      .arrow {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 5px;
        line-height: 20px;
        height: 20px;
        color: #999;
      }
    }

    &.open > a {
      text-decoration: none;
      background-color: #fafafa;
    }

    &:last-child > a {
      border-bottom: none;
    }

    > .hui-menu {
      display: none;
    }

    &.open {
      > .hui-menu {
        display: inline-block;
        position: absolute;
        left: 100%;
        top: -1px;
        min-width: 100%;
      }
    }

    &.disabled > a {
      color: #999;
      text-decoration: none;
      cursor: no-drop;
      background-color: transparent;
    }

    /*线条*/

    .divider {
      display: block;
      height: 0px;
      line-height: 0px;
      margin: 9px 0;
      overflow: hidden;
      border-top: solid 1px #eee;
    }
  }
}

/*4.3.1 下拉菜单
  name:      hui-dropdown
  example:
    <span class="hui-dropdown">
      <a rel="noopener noreferrer" class="hui-dropdown-link" href="#">下拉菜单</a>
      <ul class="hui-menu radius box-shadow">
        <li class="hui-menu-item"><a rel="noopener noreferrer" href="#">菜单一</a></li>
        <li class="hui-menu-item"><a rel="noopener noreferrer" href="#">菜单二</a></li>
      </ul>
    </span>
*/
.hui-dropdown {
  display: inline-block;

  &:focus {
    outline: 0;
  }

  .hui-dropdown-link {
    display: inline-block;
  }

  .hui-dropdown-menu {
    display: none;
    @include transition(all 0.3s ease 0s);

    &:focus {
      outline: 0;
    }

    .hui-menu-item.arrow {
      position: absolute;
      display: block;
      width: 12px;
      height: 8px;
      margin-top: -13px;
      margin-left: 20%;
      line-height: 0;
    }
  }

  /*鼠标经过*/
  &.hover,
  &.open {
    .hui-dropdown-link {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.open {
    .hui-dropdown-link {
      .hui-dropdown-arrow {
        transition-duration: 0.3s;
        transition-property: all;
        _background-position: 0 0;
        transform: rotate(180deg);
      }
    }
  }

  > .hui-menu {
    display: none;
  }

  /*打开菜单*/
  &.open {
    position: relative;
    z-index: 990;

    /*默认左对齐*/
    > .hui-dropdown-menu {
      position: absolute;
      z-index: 1000;
      display: inline-block;
      top: 100%;
      left: -1px;
      min-width: 100%;
      background-color: #fff;
      border: solid 1px #f2f2f2;
    }

    /*右对齐*/
    &.right > .hui-dropdown-menu {
      right: -1px !important;
      left: auto !important;
    }
  }
}

/*3.7 图标
  name:       hui-iconpic
  H-ui采用的图标字体，可以像控制字体那样随心所欲改变这些图标的颜色、大小、阴影以及任何CSS能控制的属性。
*/

.hui-iconpic {
  display: inline-block;
  vertical-align: sub;
  *vertical-align: middle;
  _vertical-align: middle;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'hui-iconfont';
}

.hui-iconfont {
  font-family: 'hui-iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.hui-iconfont-gotop:before {
  content: '\e684';
}

.hui-iconfont-music:before {
  content: '\e60f';
}

.hui-iconfont-tags:before {
  content: '\e64b';
}

.hui-iconfont-jieri:before {
  content: '\e727';
}

.hui-iconfont-jishiqi:before {
  content: '\e728';
}

.hui-iconfont-pad:before {
  content: '\e64c';
}

.hui-iconfont-lunzi:before {
  content: '\e64d';
}

.hui-iconfont-jiandao:before {
  content: '\e64e';
}

.hui-iconfont-xianshiqi:before {
  content: '\e64f';
}

.hui-iconfont-zhaoxiangji:before {
  content: '\e650';
}

.hui-iconfont-danfanxiangji:before {
  content: '\e651';
}

.hui-iconfont-dayinji:before {
  content: '\e652';
}

.hui-iconfont-user-zhanzhang:before {
  content: '\e653';
}

.hui-iconfont-chajian:before {
  content: '\e654';
}

.hui-iconfont-arrow1-bottom:before {
  content: '\e674';
}

.hui-iconfont-arrow1-left:before {
  content: '\e678';
}

.hui-iconfont-arrow1-top:before {
  content: '\e679';
}

.hui-iconfont-arrow1-right:before {
  content: '\e67a';
}

.hui-iconfont-jieri1:before {
  content: '\e655';
}

.hui-iconfont-face-weixiao:before {
  content: '\e656';
}

.hui-iconfont-face-chijing:before {
  content: '\e657';
}

.hui-iconfont-face-dai:before {
  content: '\e658';
}

.hui-iconfont-face-shuaku:before {
  content: '\e659';
}

.hui-iconfont-face-mogui:before {
  content: '\e65a';
}

.hui-iconfont-face-ganga:before {
  content: '\e65b';
}

.hui-iconfont-face-qin:before {
  content: '\e65c';
}

.hui-iconfont-face-nu:before {
  content: '\e65d';
}

.hui-iconfont-face-zhayan:before {
  content: '\e65e';
}

.hui-iconfont-face-shengqi:before {
  content: '\e65f';
}

.hui-iconfont-face-ma:before {
  content: '\e660';
}

.hui-iconfont-face-bishi:before {
  content: '\e661';
}

.hui-iconfont-face-maimeng:before {
  content: '\e662';
}

.hui-iconfont-face-jingdai:before {
  content: '\e663';
}

.hui-iconfont-face-yun:before {
  content: '\e664';
}

.hui-iconfont-home2:before {
  content: '\e67f';
}

.hui-iconfont-search2:before {
  content: '\e665';
}

.hui-iconfont-share2:before {
  content: '\e666';
}

.hui-iconfont-face:before {
  content: '\e668';
}

.hui-iconfont-wuliu:before {
  content: '\e669';
}

.hui-iconfont-dianpu:before {
  content: '\e66a';
}

.hui-iconfont-chexiao:before {
  content: '\e66b';
}

.hui-iconfont-zhongzuo:before {
  content: '\e66c';
}

.hui-iconfont-zan:before {
  content: '\e66d';
}

.hui-iconfont-cai:before {
  content: '\e66e';
}

.hui-iconfont-yuyin3:before {
  content: '\e66f';
}

.hui-iconfont-cart2-selected:before {
  content: '\e670';
}

.hui-iconfont-weizhi:before {
  content: '\e671';
}

.hui-iconfont-face-ku:before {
  content: '\e688';
}

.hui-iconfont-down:before {
  content: '\e640';
}

.hui-iconfont-cart2-man:before {
  content: '\e672';
}

.hui-iconfont-card2-kong:before {
  content: '\e673';
}

.hui-iconfont-luyin:before {
  content: '\e619';
}

.hui-iconfont-html:before {
  content: '\e69f';
}

.hui-iconfont-css:before {
  content: '\e6a0';
}

.hui-iconfont-android:before {
  content: '\e6a2';
}

.hui-iconfont-github:before {
  content: '\e6d1';
}

.hui-iconfont-html5:before {
  content: '\e6d2';
}

.hui-iconfont-huangguan:before {
  content: '\e6d3';
}

.hui-iconfont-news:before {
  content: '\e616';
}

.hui-iconfont-slider-right:before {
  content: '\e63d';
}

.hui-iconfont-slider-left:before {
  content: '\e67d';
}

.hui-iconfont-tuku:before {
  content: '\e613';
}

.hui-iconfont-shuru:before {
  content: '\e647';
}

.hui-iconfont-sanjiao:before {
  content: '\e67e';
}

.hui-iconfont-share-renren:before {
  content: '\e6d8';
}

.hui-iconfont-share-tweibo:before {
  content: '\e6d9';
}

.hui-iconfont-arrow2-left:before {
  content: '\e6d4';
}

.hui-iconfont-paixu:before {
  content: '\e675';
}

.hui-iconfont-niming:before {
  content: '\e624';
}

.hui-iconfont-add:before {
  content: '\e600';
}

.hui-iconfont-root:before {
  content: '\e62d';
}

.hui-iconfont-xuanzhong:before {
  content: '\e676';
}

.hui-iconfont-weixuanzhong:before {
  content: '\e677';
}

.hui-iconfont-arrow2-bottom:before {
  content: '\e6d5';
}

.hui-iconfont-arrow2-top:before {
  content: '\e6d6';
}

.hui-iconfont-like2:before {
  content: '\e648';
}

.hui-iconfont-arrow2-right:before {
  content: '\e6d7';
}

.hui-iconfont-shangyishou:before {
  content: '\e6db';
}

.hui-iconfont-xiayishou:before {
  content: '\e6e3';
}

.hui-iconfont-share-weixin:before {
  content: '\e694';
}

.hui-iconfont-shenhe-tingyong:before {
  content: '\e631';
}

.hui-iconfont-gouxuan2:before {
  content: '\e601';
}

.hui-iconfont-selected:before {
  content: '\e617';
}

.hui-iconfont-jianhao:before {
  content: '\e6a1';
}

.hui-iconfont-user-group:before {
  content: '\e62b';
}

.hui-iconfont-yiguanzhu:before {
  content: '\e680';
}

.hui-iconfont-gengduo3:before {
  content: '\e6f9';
}

.hui-iconfont-comment:before {
  content: '\e622';
}

.hui-iconfont-tongji-zhu:before {
  content: '\e618';
}

.hui-iconfont-like:before {
  content: '\e649';
}

.hui-iconfont-shangjia:before {
  content: '\e6dc';
}

.hui-iconfont-save:before {
  content: '\e632';
}

.hui-iconfont-gongsi:before {
  content: '\e643';
}

.hui-iconfont-system:before {
  content: '\e62e';
}

.hui-iconfont-pifu:before {
  content: '\e62a';
}

.hui-iconfont-menu:before {
  content: '\e667';
}

.hui-iconfont-msg:before {
  content: '\e62f';
}

.hui-iconfont-huangguan1:before {
  content: '\e729';
}

.hui-iconfont-userid:before {
  content: '\e602';
}

.hui-iconfont-cang-selected:before {
  content: '\e630';
}

.hui-iconfont-yundown:before {
  content: '\e641';
}

.hui-iconfont-help:before {
  content: '\e633';
}

.hui-iconfont-chuku:before {
  content: '\e634';
}

.hui-iconfont-picture:before {
  content: '\e646';
}

.hui-iconfont-wenzhouyinxing:before {
  content: '\e6ed';
}

.hui-iconfont-ad:before {
  content: '\e635';
}

.hui-iconfont-fenlei:before {
  content: '\e681';
}

.hui-iconfont-saoyisao:before {
  content: '\e682';
}

.hui-iconfont-search:before {
  content: '\e683';
}

.hui-iconfont-tuwenxiangqing:before {
  content: '\e685';
}

.hui-iconfont-leijipingjia:before {
  content: '\e686';
}

.hui-iconfont-hetong:before {
  content: '\e636';
}

.hui-iconfont-tongji:before {
  content: '\e61a';
}

.hui-iconfont-quanbudingdan:before {
  content: '\e687';
}

.hui-iconfont-cang:before {
  content: '\e61b';
}

.hui-iconfont-xiaoxi:before {
  content: '\e68a';
}

.hui-iconfont-renwu:before {
  content: '\e637';
}

.hui-iconfont-more:before {
  content: '\e68b';
}

.hui-iconfont-zhizhao:before {
  content: '\e638';
}

.hui-iconfont-fabu:before {
  content: '\e603';
}

.hui-iconfont-shenhe-butongguo2:before {
  content: '\e6dd';
}

.hui-iconfont-share-qq:before {
  content: '\e67b';
}

.hui-iconfont-upload:before {
  content: '\e642';
}

.hui-iconfont-add2:before {
  content: '\e604';
}

.hui-iconfont-jiesuo:before {
  content: '\e605';
}

.hui-iconfont-zhongtumoshi:before {
  content: '\e68c';
}

.hui-iconfont-datumoshi:before {
  content: '\e68d';
}

.hui-iconfont-face2:before {
  content: '\e68e';
}

.hui-iconfont-huanyipi:before {
  content: '\e68f';
}

.hui-iconfont-shijian:before {
  content: '\e690';
}

.hui-iconfont-feedback:before {
  content: '\e691';
}

.hui-iconfont-feedback2:before {
  content: '\e692';
}

.hui-iconfont-share-pengyouquan:before {
  content: '\e693';
}

.hui-iconfont-zan2:before {
  content: '\e697';
}

.hui-iconfont-arrow3-bottom:before {
  content: '\e698';
}

.hui-iconfont-arrow3-top:before {
  content: '\e699';
}

.hui-iconfont-arrow3-right:before {
  content: '\e69a';
}

.hui-iconfont-arrow3-left:before {
  content: '\e69b';
}

.hui-iconfont-more2:before {
  content: '\e69c';
}

.hui-iconfont-cang2-selected:before {
  content: '\e69d';
}

.hui-iconfont-cang2:before {
  content: '\e69e';
}

.hui-iconfont-dangan:before {
  content: '\e639';
}

.hui-iconfont-money:before {
  content: '\e63a';
}

.hui-iconfont-share-weibo:before {
  content: '\e6da';
}

.hui-iconfont-email:before {
  content: '\e63b';
}

.hui-iconfont-tongji-xian:before {
  content: '\e61c';
}

.hui-iconfont-bank:before {
  content: '\e628';
}

.hui-iconfont-home:before {
  content: '\e625';
}

.hui-iconfont-user:before {
  content: '\e62c';
}

.hui-iconfont-log:before {
  content: '\e623';
}

.hui-iconfont-pages:before {
  content: '\e626';
}

.hui-iconfont-sim:before {
  content: '\e629';
}

.hui-iconfont-tingzhi:before {
  content: '\e6e4';
}

.hui-iconfont-dengdai:before {
  content: '\e606';
}

.hui-iconfont-user-add:before {
  content: '\e607';
}

.hui-iconfont-copy:before {
  content: '\e6ea';
}

.hui-iconfont-file:before {
  content: '\e63e';
}

.hui-iconfont-share-douban:before {
  content: '\e67c';
}

.hui-iconfont-share-zhihu:before {
  content: '\e689';
}

.hui-iconfont-daochu:before {
  content: '\e644';
}

.hui-iconfont-daoru:before {
  content: '\e645';
}

.hui-iconfont-weigouxuan2:before {
  content: '\e608';
}

.hui-iconfont-phone:before {
  content: '\e696';
}

.hui-iconfont-bold:before {
  content: '\e6e7';
}

.hui-iconfont-manage2:before {
  content: '\e63c';
}

.hui-iconfont-edit:before {
  content: '\e6df';
}

.hui-iconfont-del2:before {
  content: '\e609';
}

.hui-iconfont-duigou:before {
  content: '\e6e8';
}

.hui-iconfont-chongqi:before {
  content: '\e6f7';
}

.hui-iconfont-avatar:before {
  content: '\e60a';
}

.hui-iconfont-del:before {
  content: '\e60b';
}

.hui-iconfont-edit2:before {
  content: '\e60c';
}

.hui-iconfont-zanting:before {
  content: '\e6e5';
}

.hui-iconfont-apple:before {
  content: '\e64a';
}

.hui-iconfont-guangdayinxing:before {
  content: '\e6f0';
}

.hui-iconfont-minshengyinxing:before {
  content: '\e6f4';
}

.hui-iconfont-xiajia:before {
  content: '\e6de';
}

.hui-iconfont-manage:before {
  content: '\e61d';
}

.hui-iconfont-user2:before {
  content: '\e60d';
}

.hui-iconfont-code:before {
  content: '\e6ee';
}

.hui-iconfont-cut:before {
  content: '\e6ef';
}

.hui-iconfont-link:before {
  content: '\e6f1';
}

.hui-iconfont-new:before {
  content: '\e6f2';
}

.hui-iconfont-ordered-list:before {
  content: '\e6f3';
}

.hui-iconfont-unordered-list:before {
  content: '\e6f5';
}

.hui-iconfont-share-qzone:before {
  content: '\e6c8';
}

.hui-iconfont-suoding:before {
  content: '\e60e';
}

.hui-iconfont-tel2:before {
  content: '\e6a3';
}

.hui-iconfont-order:before {
  content: '\e627';
}

.hui-iconfont-shujutongji:before {
  content: '\e61e';
}

.hui-iconfont-del3:before {
  content: '\e6e2';
}

.hui-iconfont-add3:before {
  content: '\e610';
}

.hui-iconfont-add4:before {
  content: '\e61f';
}

.hui-iconfont-xiangpicha:before {
  content: '\e72a';
}

.hui-iconfont-key:before {
  content: '\e63f';
}

.hui-iconfont-yuyin2:before {
  content: '\e6a4';
}

.hui-iconfont-yuyin:before {
  content: '\e6a5';
}

.hui-iconfont-close:before {
  content: '\e6a6';
}

.hui-iconfont-xuanze:before {
  content: '\e6a7';
}

.hui-iconfont-xuanzhong1:before {
  content: '\e6a8';
}

.hui-iconfont-yiguanzhu1:before {
  content: '\e6a9';
}

.hui-iconfont-share:before {
  content: '\e6aa';
}

.hui-iconfont-zhuanfa:before {
  content: '\e6ab';
}

.hui-iconfont-tianqi-duoyun:before {
  content: '\e6ac';
}

.hui-iconfont-tianqi-mai:before {
  content: '\e6ad';
}

.hui-iconfont-tianqi-qing:before {
  content: '\e6ae';
}

.hui-iconfont-tianqi-wu:before {
  content: '\e6af';
}

.hui-iconfont-tianqi-xue:before {
  content: '\e6b0';
}

.hui-iconfont-tianqi-yin:before {
  content: '\e6b1';
}

.hui-iconfont-tianqi-yu:before {
  content: '\e6b2';
}

.hui-iconfont-daipingjia:before {
  content: '\e6b3';
}

.hui-iconfont-vip-card2:before {
  content: '\e6b4';
}

.hui-iconfont-jifen:before {
  content: '\e6b5';
}

.hui-iconfont-youhuiquan:before {
  content: '\e6b6';
}

.hui-iconfont-hongbao:before {
  content: '\e6b7';
}

.hui-iconfont-cart-selected:before {
  content: '\e6b8';
}

.hui-iconfont-cart-kong:before {
  content: '\e6b9';
}

.hui-iconfont-jiangjia:before {
  content: '\e6ba';
}

.hui-iconfont-liwu:before {
  content: '\e6bb';
}

.hui-iconfont-caiqie:before {
  content: '\e6bc';
}

.hui-iconfont-xuanzhuan:before {
  content: '\e6bd';
}

.hui-iconfont-bigpic:before {
  content: '\e6be';
}

.hui-iconfont-list:before {
  content: '\e6bf';
}

.hui-iconfont-middle:before {
  content: '\e6c0';
}

.hui-iconfont-hot:before {
  content: '\e6c1';
}

.hui-iconfont-paishe:before {
  content: '\e6c2';
}

.hui-iconfont-hot1:before {
  content: '\e6c3';
}

.hui-iconfont-new1:before {
  content: '\e6c4';
}

.hui-iconfont-xiaoxi1:before {
  content: '\e6c5';
}

.hui-iconfont-canshu:before {
  content: '\e6c6';
}

.hui-iconfont-tel:before {
  content: '\e6c7';
}

.hui-iconfont-dingwei:before {
  content: '\e6c9';
}

.hui-iconfont-hongbao2:before {
  content: '\e6ca';
}

.hui-iconfont-2code:before {
  content: '\e6cb';
}

.hui-iconfont-vip:before {
  content: '\e6cc';
}

.hui-iconfont-tishi:before {
  content: '\e6cd';
}

.hui-iconfont-dingyue:before {
  content: '\e6ce';
}

.hui-iconfont-italic:before {
  content: '\e6e9';
}

.hui-iconfont-yulan:before {
  content: '\e695';
}

.hui-iconfont-usergroup2:before {
  content: '\e611';
}

.hui-iconfont-goods:before {
  content: '\e620';
}

.hui-iconfont-paixingbang:before {
  content: '\e6cf';
}

.hui-iconfont-qingdaoyinxing:before {
  content: '\e6f6';
}

.hui-iconfont-kefu:before {
  content: '\e6d0';
}

.hui-iconfont-picture1:before {
  content: '\e612';
}

.hui-iconfont-weigouxuan:before {
  content: '\e614';
}

.hui-iconfont-fanqiang:before {
  content: '\e6fa';
}

.hui-iconfont-shenhe-weitongguo:before {
  content: '\e6e0';
}

.hui-iconfont-shenhe-tongguo:before {
  content: '\e6e1';
}

.hui-iconfont-tongji-bing:before {
  content: '\e621';
}

.hui-iconfont-gouxuan:before {
  content: '\e615';
}

.hui-iconfont-jiansheyinxing:before {
  content: '\e6f8';
}

.hui-iconfont-moban:before {
  content: '\e72b';
}

.hui-iconfont-pay-weixin-1:before {
  content: '\e719';
}

.hui-iconfont-pay-alipay-1:before {
  content: '\e71c';
}

.hui-iconfont-beijingyinxing:before {
  content: '\e6fb';
}

.hui-iconfont-guangdongfazhanyinxing:before {
  content: '\e703';
}

.hui-iconfont-zhaoshangyinxing:before {
  content: '\e704';
}

.hui-iconfont-zheshangyinxing:before {
  content: '\e712';
}

.hui-iconfont-zhongguonongyeyinxing:before {
  content: '\e713';
}

.hui-iconfont-cdbank:before {
  content: '\e714';
}

.hui-iconfont-gengduo2:before {
  content: '\e716';
}

.hui-iconfont-bofang:before {
  content: '\e6e6';
}

.hui-iconfont-gengduo4:before {
  content: '\e717';
}

.hui-iconfont-text-height:before {
  content: '\e6fc';
}

.hui-iconfont-text-width:before {
  content: '\e6fd';
}

.hui-iconfont-underline:before {
  content: '\e6fe';
}

.hui-iconfont-star:before {
  content: '\e6ff';
}

.hui-iconfont-star-half:before {
  content: '\e700';
}

.hui-iconfont-star-halfempty:before {
  content: '\e701';
}

.hui-iconfont-star-o:before {
  content: '\e702';
}

.hui-iconfont-font:before {
  content: '\e6ec';
}

.hui-iconfont-hangzhouyinxing:before {
  content: '\e718';
}

.hui-iconfont-jiaotongyinxing:before {
  content: '\e71a';
}

.hui-iconfont-gengduo:before {
  content: '\e715';
}

.hui-iconfont-avatar2:before {
  content: '\e705';
}

.hui-iconfont-close2:before {
  content: '\e706';
}

.hui-iconfont-about:before {
  content: '\e707';
}

.hui-iconfont-phone-android:before {
  content: '\e708';
}

.hui-iconfont-search1:before {
  content: '\e709';
}

.hui-iconfont-comment1:before {
  content: '\e70a';
}

.hui-iconfont-read:before {
  content: '\e70b';
}

.hui-iconfont-feedback1:before {
  content: '\e70c';
}

.hui-iconfont-practice:before {
  content: '\e70d';
}

.hui-iconfont-align-center:before {
  content: '\e70e';
}

.hui-iconfont-align-justify:before {
  content: '\e70f';
}

.hui-iconfont-align-left:before {
  content: '\e710';
}

.hui-iconfont-align-right:before {
  content: '\e711';
}

.hui-iconfont-paste:before {
  content: '\e6eb';
}

.hui-iconfont-pufayinxing:before {
  content: '\e71b';
}

.hui-iconfont-gongshangyinxing:before {
  content: '\e71d';
}

.hui-iconfont-huaxiayinxing:before {
  content: '\e71e';
}

.hui-iconfont-youzhengyinxing:before {
  content: '\e721';
}

.hui-iconfont-zhongguoyinxing:before {
  content: '\e722';
}

.hui-iconfont-zhongxinyinxing:before {
  content: '\e723';
}

.hui-iconfont-shanghaiyinxing:before {
  content: '\e724';
}

.hui-iconfont-banzhu:before {
  content: '\e72c';
}

.hui-iconfont-yuedu:before {
  content: '\e720';
}

.hui-iconfont-yanjing:before {
  content: '\e725';
}

.hui-iconfont-power:before {
  content: '\e726';
}

.hui-iconfont-moban-2:before {
  content: '\e72d';
}

.hui-iconfont-qianbao-1:before {
  content: '\e732';
}

.hui-iconfont-piping:before {
  content: '\e72e';
}

.hui-iconfont-qianbao-2:before {
  content: '\e735';
}

.hui-iconfont-pay-alipay-3:before {
  content: '\e730';
}

.hui-iconfont-clock:before {
  content: '\e731';
}

.hui-iconfont-jingjia:before {
  content: '\e73a';
}

.hui-iconfont-weixin-3:before {
  content: '\e733';
}

.hui-iconfont-pay-alipay-4:before {
  content: '\e734';
}

.hui-iconfont-qq:before {
  content: '\e737';
}

.hui-iconfont-qianbao-3:before {
  content: '\e73b';
}

.hui-iconfont-weixin:before {
  content: '\e738';
}
