.chakra-button {
  // background-color:#003366  !important;
  border-radius: 3px !important;
  // color: white  !important;
}
.css-1cz0q0 {
  // height: 200px  !important;
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: #d2f4dd !important;
}
.css-1cz0q0:hover {
  background-color: rgba(51, 248, 81, 0.1) !important;
}
.css-un6yfx {
  width: 100px !important;
}
.css-1d8jh1b {
  margin-left: 100px !important;
}
.css-2dlw4w .css-1i88ih1 {
  width: 60px !important;
  height: 60px !important;
}
// .css-2dlw4w:hover {
//   background-color: #009933 !important;
//   width: 60px  !important;
//   height: 60px !important;
// }

.css-hlmtea img {
  width: 150px;
}
.css-15b7ja6 {
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: #e8f6ee !important;
}
.css-1amxlyc {
  background-color: #ffffff !important;
}
.css-1d8jh1b {
  background-color: #ffffff !important;
}
.css-17r79o {
  display: none !important;
}
.css-1khdrex {
  grid-template-columns: repeat(4, 1fr) !important;
}
.css-j3qg26 {
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: #e8f6ee !important;
  // background-color: #e6f6e8 !important;
}

.css-1kigrxv {
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: #e8f6ee !important;
}
.css-1duvszo {
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: #e8f6ee !important;
  // background-color: #e6f6e8 !important;
}
.css-1duvszo:hover {
  background-color: rgba(248, 220, 95, 0.1) !important;
}

.css-un6yfx {
  background-color: rgba(248, 220, 95, 0.1) !important;
}

.chakra-modal__header {
  background-color: rgba(51, 248, 81, 0.1) !important;
}

.css-gg05th {
  width: 50px;
  height: 50px;
  display: none;
}
.navbar-brand {
  margin-left: 100px;
}
.react-flow__background {
  background-color: rgba(31, 245, 78, 0.2) !important;
}
.css-1kaah19 {
  background-color: rgba(248, 220, 95, 0.1) !important;
}
.css-k62iek {
  background-color: rgba(120, 123, 79, 0.6) !important;
  color: #ffffff !important;
}
.css-k62iek svg {
  color: #ffffff !important;
}
.css-1rr4qq7 {
  margin-top: 45px;
}
#__next {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 56px;
  height: auto !important;
}

@media (max-width: 767px) {
  .hui-nav-wrapper {
    display: none !important;
  }
  #__next {
    top: 0 !important;
  }
}
